pycurl>=7.43.0
m2crypto
https://github.com/wochinge/webdav-client-python/tarball/develop#egg=webdavclient
https://gitlab.cern.ch/fts/fts-rest/repository/archive.tar.gz?ref=master#egg=fts3_rest
pykwalify
ruamel.yaml